<section>
  <hgroup>
    <h1>Pokemon</h1>
    <span>
          <img [ngSrc]="'https://www.giantbomb.com/a/uploads/scale_medium/0/6087/2437349-pikachu.png'" priority fill alt=""/>
    </span>
  </hgroup>

  <form [formGroup]="pokeForm" (ngSubmit)="onSubmit()">

    <p>
      <label for="name">Nom</label>
      <input id="name" formControlName="name" />
    </p>
    <p>
      <label for="desc">Description</label>
      <textarea id="desc" formControlName="description"></textarea>
    </p>
    <fieldset formGroupName="zone">
      <legend>Zone d'apparition</legend>

      <p>
        <label for="z_name">Nom</label>
        <input id="z_name" formControlName="name" />
      </p>
      <p>
        <label for="z_desc">Description</label>
        <input id="z_desc" formControlName="description">
      </p>
    </fieldset>
    <p>
      <label for="type">Type</label>
      <select id="type" multiple formControlName="types">
        @for (type of types; track type) {
          <option [value]="type">{{type}}</option>
        }
      </select>
    </p>
    <fieldset formArrayName="attacks">
      <legend>Attaques</legend>
      @for (group of attacks.controls; track group) {
      <fieldset [formGroupName]="$index">
        <legend>{{$index}}</legend>
        <p>
          <label [for]="$index + 'name'">Nom</label>
          <input [id]="$index + 'name'" formControlName="name" />
        </p>
        <p>
          <label [for]="$index + 'power'">Puissance</label>
          <input type="number" [id]="$index + 'power'" formControlName="power" />
        </p>
      </fieldset>
      }
      <button type="button" (click)="addAttack()" class="secondary">Ajouter une attaque</button>


    </fieldset>

    <p>
      <button>Sauvegarder le pokemon</button>
    </p>

  </form>

  <h2>Mes pokemons</h2>
  <div class="grid">
    @for (poke of pokemons; track poke) {
      <app-pokemon-card [pokemon]="poke"></app-pokemon-card>
    } @empty {
      <p>Aucun pokemon pour le moment</p>
    }
  </div>



</section>
