<article class="card">
  <h3>{{pokemon.name}}</h3>
  <p>{{pokemon.description}}</p>

  <h4>Types : </h4>
  <div class="types">
    @for (type of pokemon.types; track type) {
      <span class="rounded">{{type}}</span>
    }
  </div>

  <h4>Zone</h4>
  <p><b>{{pokemon.zone.name}} :</b> {{pokemon.zone.description}}</p>

  <h4>Attaques</h4>
  <ul class="attacks">
    @for (att of pokemon.attacks; track att) {
      <li>{{att.name}} --> {{att.power}}</li>
    }
  </ul>
  @if(view === 'global') {
    <p>
      <button (click)="addToPokedex()">Ajouter au Pokédex</button>
    </p>
    <p>
      <button class="secondary" (click)="deletePokemon()">Delete</button>
    </p>
  } @else {
    <p>
      <button class="secondary" (click)="deleteFromPokedex()">Supprimer du pokédex</button>
    </p>
  }

</article>
