.card {
  border-radius: 10px 10px 10px 20px;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.56);
  padding: 20px;
}
.rounded {
  margin-right: 10px;
  background: var(--dark);
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
}
h3 {
  margin: auto;
  width: fit-content;
  position: relative;
  color: var(--dark);
  font-size: 2em;
  text-transform: uppercase;
}
h3:after {
  content: '';
  position: absolute;
  display: block;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: .5em;
  background-color: var(--primary);
  z-index: -1;
  clip-path: polygon(0 100%,80% 100% , 100% 0, 20% 0);
}

h4 {
  color: var(--primary);
  font-size: 1.2em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: solid 1px;
  padding: 5px 10px;
  margin-bottom: 5px;
}
