ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px 20px;
  border-bottom: solid 1px var(--dark);
  border-left: solid 1px var(--dark);
  border-right: solid 1px var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:first-of-type {
  border-top: solid 1px var(--dark);
}
